@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --primary: 234, 179, 8;
  --primary-foreground: 255, 255, 255;
}

.dark {
  --background: 10, 10, 10;
  --foreground: 255, 255, 255;
  --primary: 147, 51, 234;
  --primary-foreground: 255, 255, 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* Add smooth transitions for all color and background-color changes */
*, *::before, *::after {
  transition-property: color, background-color, border-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

/* Disable transitions on page load */
.preload * {
  transition: none !important;
}

